header
{
    background-color: #c2f5aa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 30px;
    padding: 0px 15px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
}
h2
{
    font-family: 'Raleway', sans-serif;
    color: #000200;
    font-weight: 600;
    text-align: center;
    font-size: Calc(16px + 1vw);
}