
    <header>
        <div class="row">
            <div class="col-md-4 text-center pt-3">
                <img src="../assets/img/logo.png"/>
            </div>
            <div class="col-md-8 d-flex align-items-center pt-3 pb-3 p-lg-0">
                <h2>Our environmental projects are providing <span class="d-lg-block">many environmental benefits around the world.</span></h2>
            </div>
        </div>
    </header>