<div class="row">
    <div class="col-md-6 pt-3 pr-md-2">
        <div class="propty-cover">
            <div class="propty-img">
                <img class="img-fluid" src="../../../assets/img/tile.png" />
                <div class="propty-img-content">
                    <div class="propty-name">
                        KARIBA REDD+-ZIMBABWE
                    </div>
                    <div class="buy-now">
                        <button class="btn green-btn" type="button">Buy Now</button>
                        <span>$7.50 / ton</span>
                    </div>
                </div>
            </div>
            <div class="propty-content">
                <h3 class="pink-font">Reduced Emissions from Deforestation and Degradation</h3>
                <h3 class="green-font">957,842 lbs. offset</h3>
                <p>Protects forests and wildlife on the southern shores of Lake
                    Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 pt-3 pl-md-2">
        <div class="propty-cover">
            <div class="propty-img">
                <img class="img-fluid" src="../../../assets/img/tile.png" />
                <div class="propty-img-content">
                    <div class="propty-name">
                        ARCARA SUNNYBRAE TRACT - USA
                    </div>
                </div>
            </div>
            <div class="propty-content">
                <h3 class="pink-font">Improved Forest Management</h3>
                <h3 class="green-font">710,093 lbs. offset</h3>
                <p>Preservation of large tracts of coastal Redwood and Douglas fir that were slated for harvesting by
                    the
                    timber company.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 pt-3 pr-md-2">
        <div class="propty-cover">
            <div class="propty-img">
                <img class="img-fluid" src="../../../assets/img/tile.png" />
                <div class="propty-img-content">
                    <div class="propty-name">
                        WOLF CREEK LANDFIll - USA
                    </div>
                </div>

            </div>
            <div class="propty-content">
                <h3 class="pink-font">Landfill Methane Gas Capture</h3>
                <h3 class="green-font">2005,224 lbs. offset</h3>
                <p>Landfill methane gas-to-energy facility that provides significant environmental benefits to the
                    surrounding area.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 pt-3 pl-md-2">
        <div class="propty-cover">
            <div class="propty-img ">
                <img class="img-fluid" src="../../../assets/img/mixed.png" />
            </div>
            <div class="propty-content mixed">
                <div class="propty-name">
                    TERRAPASS MIXED PORTFOLIO - MIXED
                </div>
                <h3 class="pink-font">Mixed</h3>
                <h3 class="green-font">241,967 lbs. offset</h3>
                <p> Greenhouse gas reductions made at a variety of projects, including: reforestation, methane capture,
                    and
                    renewable
                    energy.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 pt-3 pr-md-2">
        <div class="propty-cover">
            <div class="propty-img">
                <img class="img-fluid" src="../../../assets/img/tile.png" />
                <div class="propty-img-content">
                    <div class="propty-name">
                        GASTON COUNTY LANDFILL-USA
                    </div>
                </div>
            </div>
            <div class="propty-content">
                <h3 class="pink-font">Reduced Emissions from Deforestation and Degradation</h3>
                <h3 class="green-font">957,842 lbs. offset</h3>
                <p>Protects forests and wildlife on the southern shores of Lake
                    Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 pt-3 pl-md-2">
        <div class="propty-cover">
            <div class="propty-img">
                <img class="img-fluid" src="../../../assets/img/tile.png" />
                <div class="propty-img-content">
                    <div class="propty-name">
                        MYAMYN CONSERVATION - AUSTRALIA
                    </div>

                    <div class="buy-now">
                        <button class="btn green-btn" type="button">Buy Now</button>
                        <span>$7.50 / ton</span>
                    </div>
                </div>
            </div>
            <div class="propty-content">
                <h3 class="pink-font">Improved Forest Management</h3>
                <h3 class="green-font">710,093 lbs. offset</h3>
                <p>Preservation of large tracts of coastal Redwood and Douglas fir that were slated for harvesting by
                    the
                    timber company.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 pt-3 pr-md-2">
        <div class="propty-cover">
            <div class="propty-img">
                <img class="img-fluid" src="../../../assets/img/tile.png" />
                <div class="propty-img-content">
                    <div class="propty-name">
                        NATURAL PACT LAND AFRT - COSTA RICA
                    </div>
                </div>
            </div>
            <div class="propty-content">
                <h3 class="pink-font">Reduced Emissions from Deforestation and Degradation</h3>
                <h3 class="green-font">957,842 lbs. offset</h3>
                <p>Protects forests and wildlife on the southern shores of Lake
                    Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 pt-3 pl-md-2">
        <div class="propty-cover">
            <div class="propty-img">
                <img class="img-fluid" src="../../../assets/img/tile.png" />
                <div class="propty-img-content">
                    <div class="propty-name">
                        NATURE LAB URBAN FORESTRY - CANADA
                    </div>
                    <div class="buy-now">
                        <button class="btn green-btn" type="button">Buy Now</button>
                        <span>$7.50 / ton</span>
                    </div>
                </div>
            </div>
            <div class="propty-content">
                <h3 class="pink-font">Improved Forest Management</h3>
                <h3 class="green-font">710,093 lbs. offset</h3>
                <p>Preservation of large tracts of coastal Redwood and Douglas fir that were slated for harvesting by
                    the
                    timber company.</p>
            </div>
        </div>
    </div>
</div>