.propty-cover
{
    display: inline-block;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
}
.propty-img
{
   
    position: relative;
  
}
.propty-img-content
{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 10px 10px 20px;
}
.propty-name
{
    
    background-color: rgba(0, 0, 0, 0.50);
    font-weight: 400;
    font-size: Calc(12px + 0.9vw);
    color: #fff;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
}
.mixed .propty-name
{

    margin-bottom: 25px;
    display: inline-block;
}

.buy-now
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
}

.buy-now span
{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.50);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
}

.propty-content
{
    padding: 10px; 
}
.propty-content.mixed {
    padding-top: 23px;
}
.propty-content h3, .propty-content p
{
    font-size: 1.1rem;
    margin-top: 15px;
}
