body
{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color:#464646;
    background-color: #eeeeee;
}
h1, h2, h3, h4, h5, h6, p
{
    margin: 0px;
}
ul, li
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.btn.focus, .btn:focus
{
    outline: none;
    box-shadow: none;
}
.pink-font
{
    color: #d12e65;
}
.green-font
{
    color: #11ae53;
}
.green-btn
{
    min-width: 120px;
    height: 50px;
    background-color: #0b8d37;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;

}
.green-btn:hover
{
    background-color: #d12e65;  
    color: #fff;

}